<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


<% @products.each do |product| %>
<div id="productContain">
	<h3 class="prodTitle"> <%= product.name %> </h3>

	<%= link_to (image_tag product.photo.url(:medium)), product_path(product) %>
	
</div>

	<!-- <p>
	 <%= link_to "View details", product_path(product) %>
	</p> -->
<% end %>


